<table >
    <thead>
        <tr>
            <th>#</th>
            <th>bandera</th>
            <th>nombre</th>
            <th>población</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises let i=index">
            <td>{{i+1}}</td>
            <td><img [src]="pais.flag" style="width: 100px; height: 100px;"></td>
            <td>{{pais.name}}</td>
            <td>{{pais.population | number}}</td>
            <td>
                <a  [routerLink]="[ '/pais', pais.alpha2Code]">Ver..</a>
            </td>
        </tr>
    </tbody>
</table>
